/* PlaceCard.css */
.imageContainer {
}
.place {
  border: none;
}
.placeContainer {
  position: relative;
}
.mainImg {
  width: 100%;
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 15px;
}

.buttonsImg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.btnsContainer {
  display: flex;
  position: absolute;
  bottom: 20%;
  right: 2.5%;
}

.placeInfo {
  direction: rtl;
  display: flex;
  justify-content: flex-start;
  font-family: 'pauza', sans-serif;
  column-gap: 5px;
  margin-top: 10px;
}

.description {
  color: #313131;
  line-height: 0.7;
  font-size: 16px;
  width: 80%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.placeInfoAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.actionButton {
  border: none;
  background: #7030a0;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  border-radius: 15px;
}
.bgGreen {
  background: #30a041;
}
.placeName {
  color: #7030a0;
  font-size: 20px;
}
.redBg {
  background-color: red;
}
