/* PlaceCard.css */
.imageContainer {
}
.place {
  border: none;
}
.placeContainer {
  position: relative;
}
.mainImg {
  width: 100%;
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 15px;
}

.buttonsImg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.btnsContainer {
  display: flex;
  position: absolute;
  bottom: 15%;
  right: 2.5%;
}

.placeInfo {
  direction: rtl;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'pauza', sans-serif;
  column-gap: 5px;
}

.placeInfo p:first-child {
  color: #7030a0;
  font-size: 16px;
  font-weight: bold;
}

.placeInfo p:last-child {
  color: #313131;
  line-height: 0.7;
}

.placeInfoAvatar {
  width: 10%;
  border-radius: 50%;
}

.actionButton {
  border: none;
  background: #7030a0;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  border-radius: 5%;
}
.bgGreen {
  background: #30a041;
}
