/* PlaceCard.css */
.image-container {
}
.place {
  position: relative;
  border: none;
}

.main-img {
  width: 100%;
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 15px;
}

.buttons-img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.btns-container {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 2.5%;
}

.place-info {
  direction: rtl;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'pauza', sans-serif;
  column-gap: 5px;
}

.place-info p:first-child {
  color: #7030a0;
  font-size: 16px;
  font-weight: bold;
}

.place-info p:last-child {
  color: #313131;
  line-height: 0.7;
}

.place-info-avatar {
  width: 10%;
  border-radius: 50%;
}

.action-button {
  border: none;
  background: #7030a0;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  border-radius: 5%;
}
.bg-green {
  background: #30a041;
}
