.container {
  height: 100dvh; /* corrected typo */
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  /* Assuming you have a .header class for the header component */
  flex: 0 0 auto; /* Don't grow, don't shrink, auto base height */
}

.content {
  padding: 0 7.5% 30px 7.5%;
  flex-grow: 1; /* Grow to fill available space */
  display: flex;

  flex-direction: column;
  overflow: hidden; /* Prevent overflowing content */
}

.messages {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1; /* Let this take any remaining space within .content */
  list-style-type: none;
}

.messages::-webkit-scrollbar {
  display: none;
}

.right,
.left {
  display: flex;
  column-gap: 15px;
  width: 100%;
}

.right {
  justify-content: flex-end;
  text-align: right;
  flex-direction: row;
}

.left {
  text-align: right;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.message {
  font-size: 18px;
  background-color: #eaeaea;
  padding: 15px;
  border-radius: 10px;
  width: calc(90% - 15px);
  position: relative; /* add this to make the triangle position relative to the message */
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.right.first .message::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  border: 10px solid;
  border-color: #eaeaea transparent transparent transparent;
}

.left.first .message::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  border: 10px solid;
  border-color: #eaeaea transparent transparent transparent;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 5px 25px;
  border-radius: 25px;
  outline: 1px solid black;
  flex: 0 0 auto; /* Don't grow, don't shrink, auto base height */
}

.inputField {
  flex: 1;
  height: 100%;
  border: none;
  font-size: 18px;
  outline: none;
  background: none;
}

.submitBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.right + .right,
.left + .left {
  margin-top: 7.5px;
}

.right + .left,
.left + .right {
  margin-top: 20px;
}

.timestamp {
  font-size: 12px;
  color: #999;
}

.dateSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #888;
}

.dateSection::before,
.dateSection::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #888;
  margin: 0 10px;
}

.dateSection span {
  padding: 0 10px;
  background-color: #fff;
}
