.content {
  padding: 7.5%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: none;
}
.daysRegionContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.cardList {
  padding: 0;
  list-style-type: none;
}
.card {
  margin-bottom: 15px;
}
.result {
  display: block;
  padding-right: 15px;
  font-weight: bold;
  margin: 15px 0;
}
