.content {
  padding: 5%;
}
.days-region-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.card-list {
  padding: 5% 0;
}
.card {
  margin-bottom: 15px;
}
.result {
  display: block;
  padding-right: 15px;
  font-weight: bold;
  margin: 15px 0;
}
