.container {
  width: 100%;
}
.content {
  padding: 7.5%;
  display: flex;
  flex-direction: column;
}
.daysRegionContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.cardList {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0;
  list-style-type: none;
}
.card {
}
.result {
  display: block;
  padding-right: 15px;
  font-weight: bold;
  margin: 15px 0;
}
