/* PersonalData.css */
.container {
}
.dataContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  background: #7030a0;
  color: #ffffff;
  padding: 2.5% 0;
  font-size: 14px;
  font-family: 'pauza', sans-serif;
  font-weight: bold;
}

.dataContainer div p:first-child {
  font-style: oblique;
}

.personalInfo {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-direction: row;
}

.volHours {
  color: #8323ac;
  font-weight: bold;
  background: #ffffff;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 50px;
}

.project {
  font-size: 19px;
}
.project::before {
  content: '#';
}

.personalDataText {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
