.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5% 7.5%;
  background-color: #f0f0f0;
}

.headerLeft,
.headerRight,
.headerMiddle {
  flex: 1;
  display: flex;
}

.headerLeft {
  justify-content: flex-end;
  display: flex;
  column-gap: 25px;
}

.avatarIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.headerMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerMiddle img:first-child {
  width: 120px;
}

.headerMiddle img:last-child {
  width: 75px;
}

.avatarContainer {
  position: relative;
}
.logoutBtn {
  padding: 5px 20px;
  position: absolute;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.24);
  right: 0;
  bottom: -75%;
  background-color: #e7e7e7; /* Use any color you prefer */
  color: black; /* Text color */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; /* Adds a transition effect */
}

.logoutBtn:hover {
  background-color: #f7f7f7f7; /* Darker shade when hovered */
  transform: scale(1.1); /* Scales the button size when hovered */
}

.logoutBtn:active {
  transform: scale(1); /* Scales the button back to normal when clicked */
}
