.tree {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  padding: 10px;
  border-radius: 5px;
  color: #333;
}

.treeNode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 5px 0;
}

.toggle {
  cursor: pointer;
  user-select: none;
  margin-right: 5px;
  color: #333;
  font-size: 1.2em;
}

.nodeLabel {
  cursor: pointer;
  user-select: none;
  font-size: 1em;
}

input[type='checkbox'] {
  margin: 0 5px;
}

input[type='checkbox']:checked + .nodeLabel {
  color: #3399ff;
}
