/* PreferencesRegionsBar.css */
.regionsContainer {
  width: 100%;
}
.dropdownBtn {
  background-color: transparent;
  color: #7030a0;
  padding: 6px 25px;
  font-size: 18px;
  width: 100%;
  border: 2px solid #7060a0;
  border-radius: 13px;
  cursor: pointer;
}

.downArrowImg {
  position: absolute;
  left: 5%;
  transform: translateY(50%);
}

.ulContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.ulContent li {
  color: black;
  padding: 16px 10px;
  text-decoration: none;
  display: block;
}

.dropdown {
  position: relative;
  width: 100%;
  display: block;
}

.dropdown:hover .ulContent {
  display: block;
}
